{% extends "base.html" %}
{% block title %}Display instances{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-6">Display instances.</h1>
    </div>
</div>

{% for i in stacks %}
<div class="card" style="padding:25px; margin:25px;">
    <h4 class="card-header">&nbsp;</h4>
    <div class="card-body">
        <h4 class="card-title">Instance name: {{ i[1] }}</h4>
        <p class="card-text">Site URL: <a href="{{ i[2] }}">{{ i[2] }}</a></p>
        <a href="{{ url_for('detail_stack', name=i[0]) }}" class="btn btn-primary">Detail</a>
        <a href="{{ url_for('delete_stack', name=i[0]) }}" class="btn btn-danger">Remove</a>
    </div>
</div>
{% endfor %}

{% endblock %}
